*.class
*.log

# these are moved into the doc project by the build
modules/docs/src/main/tut/changelog.md
modules/docs/src/main/tut/license.md

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/hydra.sbt

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.worksheet/
.settings/

# OS X
.DS_Store

# Ctags
.tags

# ENSIME
.ensime
.ensime_cache/

# IntelliJ
.idea/

# Mill
out/

# Bloop/Metals/vscode
.bloop/
.metals/
.vscode/
metals.sbt

# Transient workspace
modules/docs/src/main/scala/
*.worksheet.sc

# bsp
.bsp/